<header id="toplevel_header">
  <h1>Gilroy</h1>
  <div class="admin">
    admin world, don't show this stuff to players
  </div>
</header>
<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
