@font-face {
    font-family: 'Source Sans';
    src: local('Source Sans Bold Italic'), local('SourceSans3-BoldIt'),
        url('../fonts/SourceSans3-BoldIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
} 

@font-face {
    font-family: 'Source Sans';
    src: local('Source Sans Bold'), local('SourceSans3-Bold'),
        url('../fonts/SourceSans3-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: local('Source Sans Italic'), local('SourceSans3-It'),
        url('../fonts/SourceSans3-It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans';
    src: local('Source Sans'), local('SourceSans3-Regular'),
        url('../fonts/SourceSans3-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
        url('../fonts/SourceCodePro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Italic'), local('SourceCodePro-It'),
        url('../fonts/SourceCodePro-It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Bold Italic'), local('SourceCodePro-BoldIt'),
        url('../fonts/SourceCodePro-BoldIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
        url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

