<h1>forum rules</h1>
<ol>
  <li>don't post threads with a tag you're not supposed to</li>
  <li>
    <em>breaking kayfabe</em>
    please respect the forum server! you do not need to sqlmap 
    or otherwise brute force this challenge!
  </li>
</ol>
