<h1>thread tags</h1>

<h2>banme</h2>
<table>
  <%= for t <- @banme_tags do %>
    <tr>
      <td><img src={"/images/posticons/#{t}"} alt={t} /></td>
      <td><%= t %></td>
    </tr>
  <% end %>
</table>

<h2>all</h2>
<table>
  <%= for t <- @tags do %>
    <tr>
      <td><img src={"/images/posticons/#{t}"} alt={t} /></td>
      <td><%= t %></td>
    </tr>
  <% end %>
</table>
